.info
  display: inline
  cursor: pointer
  position: relative

  img
    pointer-events: all !important
    user-select: none
    display: inline-block
    vertical-align: middle
    margin-left: 0.5rem
    width: 1rem
    height: 1rem

  .tooltip
    // Position
    pointer-events: all !important
    position: absolute
    z-index: 10
    opacity: 0
    visibility: hidden
    width: 15em
    top: 100%
    right: 0

    // Styling
    white-space: break-spaces
    transition: 0.3s
    background: var(--background-color)
    border-radius: 20px
    box-shadow: 0 0 1px var(--dark-text)
    padding: 1em

    h4
      margin: 0 0 1em

    span
      color: var(--dark-text)

  &:hover .tooltip
    transition-delay: 0.5s
    visibility: visible
    opacity: 1
    filter: saturate(100%) !important