//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap)

\:root
  --background-color: #171717
  --accent-color: #87EE63
  --card-color: #1D1D1D
  --text: #ffffff
  --dark-text: #545454
  --red: #F05555
  --blue: #1d88c9

*
  scrollbar-color: var(--dark-text) var(--background-color)
  scrollbar-width: auto

body
  color: var(--text)
  display: flex
  background: var(--background-color)
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik Mono One', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body, #root
  height: 100%
  width: 100%
  box-sizing: border-box

.modal-open
  overflow: hidden

#root
  display: flex
  margin: auto
  padding: 4em 1em 1em
  max-width: 1440px


div.main
  flex-grow: 1
  margin: 0 4em

input
  background: var(--background-color)
  border: none
  color: var(--text)
  font-size: 20px
  border-radius: 20px
  padding: 1em
  transition: 0.3s
  outline: 0.5px solid transparent

  &::placeholder
    color: var(--dark-text)

  &:focus
    outline: 0.5px solid var(--accent-color)

button
  cursor: pointer
  padding: 1em
  white-space: nowrap
  background: var(--background-color)
  color: var(--dark-text)
  border-radius: 20px
  height: min-content
  border: none
  transition: 0.3s

  &.accent
    background: var(--accent-color)

  &:hover
    opacity: 0.8

h1
  font-size: 25px

section.configuration
  margin-top: 3em
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 2em

  div.col
    display: grid
    row-gap: 2em